<html>
    <head>
        <%- include('scripts') %>
        <%- include('styles') %>
    </head>
    <body class="bg-neutral-950 flex justify-center items-center">
        <div class="flex flex-row justify-between items-start border-2 border-b-1 border-neutral-700 w-[600px] max-w-full text-white rounded-lg">
            <div class="w-1/2 flex flex-col justify-start items-start">
                <div class="w-full flex flex-row space-x-1 justify-start items-center px-2 py-1 h-1/6 border-r-2 border-b-2 border-neutral-700">
                    <i class="fa-solid fa-memory"></i><p>Çekirdek: </p><cpuCore>0.0</cpuCore>
                </div>
                <div class="w-full flex flex-row space-x-1 justify-start items-center px-2 py-1 h-1/6 border-r-2 border-b-2 border-neutral-700">
                    <i class="fa-solid fa-memory"></i><p>Fiziksel Çekirdek: </p><cpuPhysicalCores>0.0</cpuPhysicalCores>
                </div>
                <div class="w-full flex flex-row space-x-1 justify-start items-center px-2 py-1 h-1/6 border-r-2 border-b-2 border-neutral-700">
                    <i class="fa-solid fa-memory"></i><p>İşlemci Modeli: </p><cpu>0.0</cpu>
                </div>
                <div class="w-full flex flex-row space-x-1 justify-start items-center px-2 py-1 h-1/6 border-r-2 border-b-2 border-neutral-700">
                    <i class="fa-solid fa-memory"></i><p>Toplam Ram: </p><totalMem>0.0</totalMem>
                </div>
                <div class="w-full flex flex-row space-x-1 justify-start items-center px-2 py-1 h-1/6 border-r-2 border-b-2 border-neutral-700">
                    <i class="fa-solid fa-memory"></i><p>Kullanılan Ram: </p><usedMem>0.0</usedMem>
                </div>
                <div class="w-full flex flex-row space-x-1 justify-start items-center px-2 py-1 h-1/6 border-r-2 border-b-1 border-neutral-700">
                    <i class="fa-solid fa-memory"></i><p>Boşda Ram: </p><freeMem>0.0</freeMem>
                </div>
            </div>
            <div class="w-1/2 flex flex-col justify-start items-start">
                <div class="w-full flex flex-row space-x-1 justify-start items-center px-2 py-1 h-1/6 border-b-2 border-neutral-700">
                    <i class="fa-solid fa-memory"></i><p>Toplam Disk: </p><totalDisk>0.0</totalDisk>
                </div>
                <div class="w-full flex flex-row space-x-1 justify-start items-center px-2 py-1 h-1/6 border-b-2 border-neutral-700">
                    <i class="fa-solid fa-memory"></i><p>Kullanılan Disk: </p><usedDisk>0.0</usedDisk>
                </div>
                <div class="w-full flex flex-row space-x-1 justify-start items-center px-2 py-1 h-1/6 border-b-2 border-neutral-700">
                    <i class="fa-solid fa-memory"></i><p>Boşda Disk: </p><availableDisk>0.0</availableDisk>
                </div>
                <div class="w-full flex flex-row space-x-1 justify-start items-center px-2 py-1 h-1/6 border-b-2 border-neutral-700">
                    <i class="fa-solid fa-memory"></i><p>Toplam Swap: </p><swapTotal>0.0</swapTotal>
                </div>
                <div class="w-full flex flex-row space-x-1 justify-start items-center px-2 py-1 h-1/6 border-b-2 border-neutral-700">
                    <i class="fa-solid fa-memory"></i><p>Kullanılan Swap: </p><swapUsed>0.0</swapUsed>
                </div>
                <div class="w-full flex flex-row space-x-1 justify-start items-center px-2 py-1 h-1/6 border-b-1 border-neutral-700">
                    <i class="fa-solid fa-memory"></i><p>Boşda Swap: </p><freeSwap>0.0</freeSwap>
                </div>
            </div>
        </div>
    </body>
</html>
